In [1]:
import hydrobr

In [11]:
df = hydrobr.get_data.ANA.flow_data(['61834000'])

100%|██████████| 1/1 [00:01<00:00,  1.33s/it]

In [12]:
df

            61834000
2011-03-01       NaN
2011-03-02       NaN
2011-03-03       NaN
2011-03-04       NaN
2011-03-05       NaN
...              ...
2020-02-25   274.346
2020-02-26   264.144
2020-02-27   347.979
2020-02-28   477.867
2020-02-29   588.312

[3288 rows x 1 columns]

In [15]:
import pandas as pd

def conta_numero_de_falhas(df):
    df.sort_index(inplace=True)
    nfalhas=df.isnull().sum()
    resumo_falhas=df.isnull().groupby(pd.Grouper(freq = 'M')).sum().to_period()
    resumo_falhas=resumo_falhas[resumo_falhas>0]
    return resumo_falhas, nfalhas

In [16]:
resumo_falhas, nfalhas = conta_numero_de_falhas(df)

In [17]:
resumo_falhas

         61834000
2011-03      10.0
2011-04       NaN
2011-05       NaN
2011-06       NaN
2011-07       NaN
...           ...
2019-10       NaN
2019-11       NaN
2019-12       NaN
2020-01       NaN
2020-02       NaN

[108 rows x 1 columns]

In [18]:
nfalhas

61834000    71
dtype: int64

In [40]:
from datetime import datetime

def calcula_ano_hidrologico(df):
    medias_mensais = df.groupby(pd.Grouper(freq='M')).mean()
    mes_menor_media = medias_mensais.groupby(pd.Grouper(freq='A')).idxmin()
    mes_menor_media = mes_menor_media['61834000'].dt.month
    mes_comeca_ano_hidrologico = mes_menor_media.mode()
    return mes_comeca_ano_hidrologico

In [41]:
mes_comeca_ano_hidrologico = calcula_ano_hidrologico(df)

In [42]:
mes_comeca_ano_hidrologico

0    9
dtype: int64

In [ ]:
def calcula_maximas_anuais(df):
    serie_maximas_anuais=df.groupby(pd.Grouper(freq='AS-SEP')).max()
    return serie_maximas_anuais[:-1] #Desconsidera o último ano (incompleto)